<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 align : center> Covid 19 Cases till <p Date : th:text="${date}"></p></h1>

<div>
    <table border="1" width="100%">
        <tr>
            <th>Total Cases</th>
            <th>Active Cases</th>
            <th>Discharged</th>
            <th>Deaths</th>
        </tr>
        <tr>
            <td th:text="${totalcases}"></td>
            <td th:text="${totalactive}"></td>
            <td th:text="${totalactive}"></td>
            <td th:text="${totaldeaths}"></td>
        </tr>
    </table>
</div>
</body>
</html>